{% extends "../base.html" %}

{% block header %}
    {% include '../home/header.html' %}
{% end %}

{% block scripts %}
    {% if is_admin %}
        <script type="text/javascript">
        $(document).editablepage({
            page_name: "{{page.name}}",
            page_keywords: "{{page.keywords}}",
            page_uri: " {{ site_base }}",
            body_url: site_base + "/page/{{ site_base }}/body"
        });
        </script>
    {% else %}
        <script type="text/javascript">
        $(document).loadpagecontent({
            body_url: site_base + "/page/{{ site_base }}/body",
            page_uri: "{{ page.uri }}"
        });
    </script>
    {% end %}
{% end %}

{% block css %}
    <link type="text/css" rel='stylesheet' href="{{ site_base }}/{{ nocache_static }}/css/page.edit.css" />
    <style type="text/css">
    .controls input,
    .controls textarea
    {
        padding: 10px 16px;
    }

    .col-sm-6,
    .col-sm-12
    {
        padding: 2px;
    }
    </style>
{% end %}

{% block body %}
    <div class="container-fluid title text-left container-fluid-magle" style="display: inherit;">
        <div class="row">
            <div class="col-sm-12">
                <h2>
                    {% if is_admin %}
                        <span class="editabletext" text-id="{{ site.name + '_tit' }}" >{{ read_text(site.name + '_tit') }}</span>
                    {% else %}
                        {{ read_text(site.name + '_tit') }}
                    {% end %}
                </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid contact product text-left container-fluid-magle" style="display: inherit;">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <address>
                    <br>
                    <strong>
                        {% if is_admin %}
                            <span class="editabletext" text-id="{{ site.name + '_name' }}" >{{ read_text(site.name + '_name') }}</span>
                        {% else %}
                            {{ read_text(site.name + '_name') }}
                        {% end %}
                    </strong>
                    <br>
                    {% if is_admin %}
                        <span class="editabletext" text-id="{{ site.name + '_address' }}">{{ read_text(site.name + '_address') }}</span>
                    {% else %}
                        {{ read_text(site.name + '_address') }}
                    {% end %}
                    <br>
                    {% if is_admin %}
                        <span class="editabletext" text-id="{{ site.name + '_city' }}">{{ read_text(site.name + '_city') }}</span>
                    {% else %}
                        {{ read_text(site.name + '_city') }}
                    {% end %}
                    <br>
                    {% if is_admin %}
                        <span class="editabletext" text-id="{{ site.name + '_phone' }}">{{ read_text(site.name + '_phone') }}</span>
                    {% else %}
                        {{ read_text(site.name + '_phone') }}
                    {% end %}
                    <br>
                    {% if is_admin %}
                        <span class="editabletext" text-id="{{ site.name + '_email' }}">{{ read_text(site.name + '_email') }}</span>
                    {% else %}
                        {{ read_text(site.name + '_email') }}
                    {% end %}
                    <br>
                </address>
            </div>
            <div class="col-xs-12 col-sm-8">
                <form action='https://forms.zohopublic.com/sytes/form/mlbcotizaconnosotros/formperma/MVGUIk_wMQQZzfHMqoFpb-hKleBpu3_ru33i2pxa1JA/htmlRecords/submit' name='form' id='form' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Nombre</label>
                                <div class=" controls">
                                    <input name="Name_First" placeholder="Tu nombre" class="form-control input-lg requiredField" type="text" data-error-invalid="Invalid name address" data-error-empty="Ingrese nombre">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <div class=" controls">
                                    <input name="Email" placeholder="Tu email" class="form-control input-lg requiredField" type="email" data-error-invalid="Invalid email address" data-error-empty="Ingrese email">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mensaje</label>
                        <div class="controls">
                            <textarea name="MultiLine" placeholder="Escribe aquí tu mensaje" class="form-control input-lg requiredField" rows="5" data-error-empty="Ingrese mensaje"></textarea>
                        </div>
                    </div>
                    <p>
                        <button name="submit" type="submit" class="btn btn-store btn-block " data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Email Sent">Enviar Cotización</button>
                    </p>
                    <input type="hidden" name="submitted" id="submitted3" value="true">
                </form>
            </div>
        </div>
    </div>

    {% include '../content/footer.html' %}
{% end %}
