{% if tag==False %}
    <!-- SLIDER -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!-- Slider 1 -->
            <div class="swiper-slide">
                {% if is_admin %}
                    <div class="image-upload">
                        <label for="img_banner_1">
                            <img class="change-image" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                        </label>
                        <input type="file" class="editableimage" image-id="{{ site.name }}_banner_1" name="image" id="img_banner_1">
                    </div>
                    <div class="image-upload">
                        <label for="img_banner_1a">
                            <img class="change-image hide-show" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                        </label>
                        <input type="file" class="editableimage" image-id="{{ site.name }}_banner_1a" name="image" id="img_banner_1a">
                    </div>
                {% end %}
                <img id="mlb_banner_1" class="show-hide lazy" src="{{ read_image(site.name + '_banner_1', 1) }}" data-original="{{ read_image(site.name + '_banner_1') }}" />
                <img id="mlb_banner_1a" class="hide-show lazy" src="{{ read_image(site.name + '_banner_1a', 1) }}" data-original="{{ read_image(site.name + '_banner_1a') }}" />
                <!-- Info slider 1 -->
                <div class="info-product banner-principal">
                    <h2>
                        {% if is_admin %}
                            <span class="editabletext" text-id="{{ site.name + '_banner1_tit' }}" >
                            <!-- {{ read_text(site.name + '_banner1_tit') }} (Esto quedo comentado para luego arreglar la version editable) -->
                            URBANO
                            </span>
                        {% else %}
                            <!-- {{ read_text(site.name + '_banner1_tit') }} (Esto quedo comentado para luego arreglar la version editable) -->
                            URBANO
                        {% end %}
                    </h2>
                    <p>
                        {% if is_admin %}
                            <span class="editabletext" text-id="{{ site.name + '_banner1_desc' }}">
                                <!--{{ read_text(site.name + '_banner1_desc') }}(Esto quedo comentado para luego arreglar la version editable) -->

                            </span>
                        {% else %}
                            <!--{{ read_text(site.name + '_banner1_desc') }}(Esto quedo comentado para luego arreglar la version editable) -->
                            <p>El estilo urbano llega a partir de las necesidades que se requieren a diario. Complementa la rutina y el sentido de pertenencia a la ciudad.</p>
                            <p>Creamos piezas únicas que entregan identidad a los espacios</p>
                        {% end %}
                    </p>
                    <a href="{{ site_base }}?tag=urbano">
                        <button type="button" class="btn btn-banner">conocer</button>
                    </a>
                </div>
            </div>
            <!-- Slider 2 -->
            <div class="swiper-slide">
                {% if is_admin %}
                    <div class="image-upload">
                        <label for="img_banner_9">
                            <img class="change-image" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                        </label>
                        <input type="file" class="editableimage" image-id="{{ site.name }}_banner_9" name="image" id="img_banner_9">
                    </div>
                    <div class="image-upload">
                        <label for="img_banner_9a">
                            <img class="change-image hide-show" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                        </label>
                        <input type="file" class="editableimage" image-id="{{ site.name }}_banner_9a" name="image" id="img_banner_9a">
                    </div>
                {% end %}
                <img id="mlb_banner_9" class="img-responsive show-hide lazy" src="{{ read_image(site.name + '_banner_9') }}" data-original="{{ read_image(site.name + '_banner_9') }}" />
                <img id="mlb_banner_9a" class="img-responsive hide-show lazy" src="{{ read_image(site.name + '_banner_9a') }}" data-original="{{ read_image(site.name + '_banner_9a') }}" />
                <!-- Info Slider 2 -->
                <div class="info-product banner-principal banner-principal-product">
                    <h2>
                        {% if is_admin %}
                            <span class="editabletext" text-id="{{ site.name + '_banner9_tit' }}" >
                                <!-- {{ read_text(site.name + '_banner9_tit') }}  (Esto quedo comentado para luego arreglar la version editable) -->
                                ANDINO
                            </span>
                        {% else %}
                            <!-- {{ read_text(site.name + '_banner9_tit') }}  (Esto quedo comentado para luego arreglar la version editable) -->
                            ANDINO
                        {% end %}
                    </h2>
                    <p>
                        {% if is_admin %}
                            <span class="editabletext" text-id="{{ site.name + '_banner9_desc' }}">
                                <!-- {{ read_text(site.name + '_banner9_desc') }} (Esto quedo comentado para luego arreglar la version editable) -->
                                El estilo andino nace con el fin de incorporar lo originario de la Cordillera de los Andes a los estándares del interiorismo.
                                Creamos piezas únicas que entregan identidad a los espacios
                            </span>
                        {% else %}
                            <!-- {{ read_text(site.name + '_banner9_desc') }}  (Esto quedo comentado para luego arreglar la version editable) -->
                            <p>El estilo andino nace con el fin de incorporar lo originario de la Cordillera de los Andes a los estándares del interiorismo.</p>
                            <p>Creamos piezas únicas que entregan identidad a los espacios</p>
                        {% end %}
                    </p>
                    <a href="{{ site_base }}?tag=andino">
                        <button type="button" class="btn">conocer</button>
                    </a>
                </div>
            </div>
            <!-- Slider 3 -->
            <div class="swiper-slide">
                {% if is_admin %}
                    <div class="image-upload">
                        <label for="img_banner_10">
                            <img class="change-image" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                        </label>
                        <input type="file" class="editableimage" image-id="{{ site.name }}_banner_10" name="image" id="img_banner_10" />
                    </div>
                    <div class="image-upload">
                        <label for="img_banner_10a">
                            <img class="change-image hide-show" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                        </label>
                        <input type="file" class="editableimage" image-id="{{ site.name }}_banner_10a" name="image" id="img_banner_10a">
                    </div>
                {% end %}
                <img id="mlb_banner_10" class="img-responsive show-hide lazy" src="{{ read_image(site.name + '_banner_10') }}" data-original="{{ read_image(site.name + '_banner_10') }}" />
                <img id="mlb_banner_10a" class="img-responsive hide-show lazy" src="{{ read_image(site.name + '_banner_10a') }}" data-original="{{ read_image(site.name + '_banner_10a') }}" />
                <!-- Info slider 3 -->
                <div class="info-product banner-secundario">
                    <h2>
                        {% if is_admin %}
                            <span class="editabletext" text-id="{{ site.name + '_banner10_tit' }}" >
                                <!-- {{ read_text(site.name + '_banner10_tit') }} (Esto quedo comentado para luego arreglar la version editable) -->
                                FUSIÓN
                            </span>
                        {% else %}
                            <!-- {{ read_text(site.name + '_banner10_tit') }} (Esto quedo comentado para luego arreglar la version editable) -->
                            FUSIÓN
                        {% end %}
                    </h2>
                    <p>
                        {% if is_admin %}
                            <span class="editabletext" text-id="{{ site.name + '_banner10_desc' }}">
                                <!-- {{ read_text(site.name + '_banner10_desc') }} (Esto quedo comentado para luego arreglar la version editable) -->
                                La mezcla y combinación perfecta de la cordillera y la ciudad dándole vida a los espacios con ambos mundos
                                Creamos piezas únicas que entregan identidad a los espacios
                            </span>
                        {% else %}
                            <!-- {{ read_text(site.name + '_banner10_desc') }} (Esto quedo comentado para luego arreglar la version editable) -->
                            <p>La mezcla y combinación perfecta de la cordillera y la ciudad dándole vida a los espacios con ambos mundos</p>
                            <p>Creamos piezas únicas que entregan identidad a los espacios</p>
                        {% end %}
                    </p>
                    <a href="{{ site_base }}?tag=fusion">
                        <button type="button" class="btn">conocer</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <!-- GRILLA 3 BANNERS -->
    <div class="row cat-index">
        <!-- Banner 1 -->
        <div class="col-sm-4 especial content-height">
            {% if is_admin %}
                <div class="image-upload">
                    <label for="img_banner_2">
                        <img class="change-image" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_2" name="image" id="img_banner_2">
                </div>
            {% end %}
            <img id="mlb_banner_2" src="{{ read_image(site.name + '_banner_2', 1) }}" data-original="{{ read_image(site.name + '_banner_2', 200) }}" class="img-responsive lazy display-img" alt="item">
            <!--  Info Banner 1 -->
            <div class="info-product">
                <h2>
                    {% if is_admin %}
                        <span class="editabletext" text-id="{{ site.name + '_banner2_tit' }}" >
                            <!-- {{ read_text(site.name + '_banner2_tit') }} (Esto quedo comentado para luego arreglar la version editable) -->
                            <p>HISTORIA Y PROCESO</p>
                        </span>
                    {% else %}
                        <!-- {{ read_text(site.name + '_banner2_tit') }} (Esto quedo comentado para luego arreglar la version editable) -->
                        <p>HISTORIA Y PROCESO</p>
                    {% end %}
                </h2>
                <i>_______________________________</i>
                <p>
                    {% if is_admin %}
                        <span class="editabletext" text-id="{{ site.name + '_banner2_desc' }}">
                            <!-- {{ read_text(site.name + '_banner2_desc') }} (Esto quedo comentado para luego arreglar la version editable) -->
                            CONOCE SOBRE LA HISTORIA Y EL PROCESO QUE EXISTE DETRÁS DE TODOS NUESTROS PRODUCTOS
                        </span>
                    {% else %}
                        <!-- {{ read_text(site.name + '_banner2_desc') }}  (Esto quedo comentado para luego arreglar la version editable) -->
                        <p>CONOCE SOBRE LA HISTORIA Y EL PROCESO QUE EXISTE DETRÁS DE TODOS NUESTROS PRODUCTOS</p>
                    {% end %}
                </p>
                <a href="{{ site_base }}/historia">
                    <button type="button" class="btn">conocer</button>
                </a>
            </div>
        </div>
        <!-- Banner 2 -->
        <div class="col-sm-4 especial content-height">
            {% if is_admin %}
                <div class="image-upload">
                    <label for="img_banner_3">
                        <img class="change-image" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_3" name="image" id="img_banner_3">
                </div>
            {% end %}
            <img id="mlb_banner_3" src="{{ read_image(site.name + '_banner_3', 1) }}" data-original="{{ read_image(site.name + '_banner_3', 200) }}" class="img-responsive lazy display-img" alt="item">
            <!-- Info Banner 2 -->
            <div class="info-article">
                <h2>
                    {% if is_admin %}
                        <span class="editabletext" text-id="{{ site.name + '_banner3_tit' }}" >
                            <!-- {{ read_text(site.name + '_banner3_tit') }}  (Esto quedo comentado para luego arreglar la version editable) -->
                            <p>NOSOTROS</p>
                        </span>
                    {% else %}
                        <!-- {{ read_text(site.name + '_banner3_tit') }}  (Esto quedo comentado para luego arreglar la version editable) -->
                        <p>NOSOTROS</p>
                    {% end %}
                </h2>
                <p>
                    {% if is_admin %}
                        <span class="editabletext" text-id="{{ site.name + '_banner3_desc' }}">
                            <!-- {{ read_text(site.name + '_banner3_desc') }}  (Esto quedo comentado para luego arreglar la version editable) -->
                            LA HISTORIA DETRÁS DE MAGDALENA LE BLANC NACE EL AÑO 2005 BUSCANDO LA INTEGRACIÓN DEL TRABAJO CON LOS ARTESANOS
                        </span>
                    {% else %}
                        <!-- {{ read_text(site.name + '_banner3_desc') }}  (Esto quedo comentado para luego arreglar la version editable) -->
                        <p>LA HISTORIA DETRÁS DE MAGDALENA LE BLANC NACE EL AÑO 2005 BUSCANDO LA INTEGRACIÓN DEL TRABAJO CON LOS ARTESANOS</p>
                    {% end %}
                </p>
                <a href="{{ site_base }}/aboutus">
                    <button type="button" class="btn">conocer</button>
                </a>
            </div>
        </div>
        <!-- Banners 3 -->
        <div class="col-sm-4 especial content-height">
            {% if is_admin %}
                <div class="image-upload">
                    <label for="img_banner_4">
                        <img class="change-image" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_4" name="image" id="img_banner_4">
                </div>
            {% end %}
            <img id="mlb_banner_4" src="{{ read_image(site.name + '_banner_4', 1) }}" data-original="{{ read_image(site.name + '_banner_4', 200) }}" class="img-responsive lazy display-img" alt="item">
            <!-- Info Banner 3 -->
            <div class="info-product color-white">
                <h2>
                    {% if is_admin %}
                        <span class="editabletext" text-id="{{ site.name + '_banner4_tit' }}" >
                            <!-- {{ read_text(site.name + '_banner4_tit') }}  (Esto quedo comentado para luego arreglar la version editable) -->
                            <p>MATERIALES Y CUIDADOS</p>
                        </span>
                    {% else %}
                        <!-- {{ read_text(site.name + '_banner4_tit') }}  (Esto quedo comentado para luego arreglar la version editable) -->
                        <p>MATERIALES Y CUIDADOS</p>
                    {% end %}
                </h2>
                <i>_______________________________</i>
                <p>
                    {% if is_admin %}
                        <span class="editabletext" text-id="{{ site.name + '_banner4_desc' }}">
                            <!-- {{ read_text(site.name + '_banner4_desc') }}  (Esto quedo comentado para luego arreglar la version editable) -->
                            <p>CONOCE TODO SOBRE LOS MATERIALES QUE TRABAJAMOS. LA LANA Y LA ALPACA SON SÓLO ALGUNOS DE ELLOS</p>
                        </span>
                    {% else %}
                        <!-- {{ read_text(site.name + '_banner4_desc') }}  (Esto quedo comentado para luego arreglar la version editable) -->
                        <p>CONOCE TODO SOBRE LOS MATERIALES QUE TRABAJAMOS. LA LANA Y LA ALPACA SON SÓLO ALGUNOS DE ELLOS</p>
                    {% end %}
                </p>
                <a href="{{ site_base }}/materiales">
                    <button type="button" class="btn">conocer</button>
                </a>
            </div>
        </div>
    </div>
    <!-- BANNER ANCHO -->
    <div class="row cat-index-largo">
        <div class="col-sm-12 especial">
            {% if is_admin %}
                <div class="image-upload">
                    <label for="img_banner_ancho">
                        <img class="change-image" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_ancho" name="image" id="img_banner_ancho">
                </div>
                <div class="image-upload">
                    <label for="img_banner_5a_ancho">
                        <img class="change-image hide-show" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_5a_ancho" name="image" id="img_banner_5a_ancho">
                </div>
            {% end %}
            <div>
                <img id="mlb_banner_5a_ancho" class="img-responsive lazy ancho" src="{{ read_image(site.name + '_banner_5a_ancho', 1) }}" data-original="{{ read_image(site.name + '_banner_5a_ancho')}}" />
            </div>
            <!-- Info banner ancho -->
            <div class="info-product banner-secundario color-white">
                <h2>
                    {% if is_admin %}
                        <span class="editabletext" text-id="{{ site.name + '_banner5_tit' }}" >
                            <!-- {{ read_text(site.name + '_banner5_tit') }}  (Esto quedo comentado para luego arreglar la version editable) EN ESTA SECCION YA NO VA TEXTO POR AHORA-->
                        </span>
                    {% else %}
                        <!-- {{ read_text(site.name + '_banner5_tit') }}  (Esto quedo comentado para luego arreglar la version editable) EN ESTA SECCION YA NO VA TEXTO POR AHORA-->
                    {% end %}
                </h2>
                <!--<i>_______________________________</i>-->
                <p>
                    {% if is_admin %}
                        <span class="editabletext" text-id="{{ site.name + '_banner5_desc' }}">
                            <!-- {{ read_text(site.name + '_banner5_desc') }}  (Esto quedo comentado para luego arreglar la version editable) EN ESTA SECCION YA NO VA TEXTO POR AHORA-->
                        </span>
                    {% else %}
                        <!-- {{ read_text(site.name + '_banner5_desc') }}  (Esto quedo comentado para luego arreglar la version editable)  EN ESTA SECCION YA NO VA TEXTO POR AHORA-->
                    {% end %}
                </p>
                <!--<a href="{{ site_base }}?tag=pieceras">
                    <button type="button" class="btn">conocer</button>
                </a>-->
            </div>
        </div>
    </div>
    <!-- Grilla 2 banners -->
    <div class="row cat-index-end">
        <!-- Banner 1 -->
        <div class="col-sm-6 especial banner-50">
            {% if is_admin %}
                <div class="image-upload">
                    <label for="img_banner_6">
                        <img class="change-image" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_6" name="image" id="img_banner_6">
                </div>
                <div class="image-upload">
                    <label for="img_banner_6a">
                        <img class="change-image hide-show" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_6a" name="image" id="img_banner_6a">
                </div>
            {% end %}
            <div>
                <img id="mlb_banner_6" class="img-responsive show-hide lazy" src="{{ read_image(site.name + '_banner_6', 1) }}" data-original="{{ read_image(site.name + '_banner_6', 500) }}" />
                <img id="mlb_banner_6a" class="img-responsive hide-show lazy" src="{{ read_image(site.name + '_banner_6a', 1) }}" data-original="{{ read_image(site.name + '_banner_6a', 500) }}" />
            </div>
            <!-- Info banner 1 -->
            <div class="info-product">
                <h2>
                    {% if is_admin %}
                        <span class="editabletext" text-id="{{ site.name + '_banner6_tit' }}" >
                            <!-- {{ read_text(site.name + '_banner6_tit') }}  (Esto quedo comentado para luego arreglar la version editable) -->
                            <p>NOVEDADES</p>
                        </span>
                    {% else %}
                        <!-- {{ read_text(site.name + '_banner6_tit') }}  (Esto quedo comentado para luego arreglar la version editable) -->
                        <p>NOVEDADES</p>
                    {% end %}
                </h2>
                <i>_______________________________</i>
                <p>
                    {% if is_admin %}
                        <span class="editabletext" text-id="{{ site.name + '_banner6_desc' }}">
                            <!-- {{ read_text(site.name + '_banner6_desc') }}  (Esto quedo comentado para luego arreglar la version editable) -->
                            <p>ENTÉRATE DE TODOS NUESTROS NUEVOS PRODUCTOS EN STOCK.</p>
                        </span>
                    {% else %}
                        <!-- {{ read_text(site.name + '_banner6_desc') }}  (Esto quedo comentado para luego arreglar la version editable) -->
                        <p>ENTÉRATE DE TODOS NUESTROS NUEVOS PRODUCTOS EN STOCK.</p>
                    {% end %}
                </p>
                <a href="{{ site_base }}?tag=new">
                    <button type="button" class="btn">conocer</button>
                </a>
            </div>
        </div>
        <!-- Banner 2 -->
        <div class="col-sm-6 especial banner-50">
            {% if is_admin %}
                <div class="image-upload">
                    <label for="img_banner_7">
                        <img class="change-image" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_7" name="image" id="img_banner_7">
                </div>
                <div class="image-upload">
                    <label for="img_banner_7a">
                        <img class="change-image hide-show" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                    </label>
                    <input type="file" class="editableimage" image-id="{{ site.name }}_banner_7a" name="image" id="img_banner_7a">
                </div>
            {% end %}
            <div>
                <img id="mlb_banner_7" class="img-responsive show-hide lazy" src="{{ read_image(site.name + '_banner_7', 1) }}" data-original="{{ read_image(site.name + '_banner_7', 500) }}" />
                <img id="mlb_banner_7a" class="img-responsive hide-show lazy" src="{{ read_image(site.name + '_banner_7a', 1) }}" data-original="{{ read_image(site.name + '_banner_7a', 500) }}" />
            </div>
            <div class="info-article">
                <h2>
                    {% if is_admin %}
                        <span class="editabletext" text-id="{{ site.name + '_banner7_tit' }}" >
                            <!-- {{ read_text(site.name + '_banner7_tit') }} (Esto quedo comentado para luego arreglar la version editable) -->
                            <p>VENTA CORPORATIVA/PROYECTOS</p>
                        </span>
                    {% else %}
                        <!-- {{ read_text(site.name + '_banner7_tit') }} (Esto quedo comentado para luego arreglar la version editable) -->
                        <p>VENTA CORPORATIVA / PROYECTOS</p>
                    {% end %}
                </h2>
                <p>
                    {% if is_admin %}
                        <span class="editabletext" text-id="{{ site.name + '_banner7_desc' }}">
                            <!-- {{ read_text(site.name + '_banner7_desc') }} (Esto quedo comentado para luego arreglar la version editable) -->
                            <p>REVISA LOS PRODUCTOS QUE PODEMOS OFRECER A TU EMPRESA Y LOS PROYECTOS QUE HEMOS PARTICIPADO.</p>
                        </span>
                    {% else %}
                        <!-- {{ read_text(site.name + '_banner7_desc') }} (Esto quedo comentado para luego arreglar la version editable) -->
                        <p>REVISA LOS PRODUCTOS QUE PODEMOS OFRECER A TU EMPRESA Y LOS PROYECTOS QUE HEMOS PARTICIPADO.</p>
                    {% end %}
                </p>
                <a href="{{ site_base }}/cotiza_con_nosotros">
                    <button type="button" class="btn">conocer</button>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="col-sm-12 nav-list text-center effect menu-3 container-fluid-magle">
            <li class="line-text">
                <p class="text-center">___________</p>
            </li>
            <li class="text-container">
                <h1 class="text-center">
                    {% if is_admin %}
                        <span class="editabletext" text-id="{{ site.name + '_product_tit' }}" >{{ read_text(site.name + '_product_tit') }}</span>
                    {% else %}
                        {{ read_text(site.name + '_product_tit') }}
                    {% end %}
                </h1>
            </li>
            <li class="text-container">
                <h1 class="text-center">
                    {% if is_admin %}
                        <span class="editabletext" text-id="{{ site.name + '_product_desc' }}" >{{ read_text(site.name + '_product_desc') }}</span>
                    {% else %}
                        {{ read_text(site.name + '_product_desc') }}
                    {% end %}
                </h1>
            </li>
        </ul>
    </div>
{% end %}

{% if tag!=False %}

    {% if tag=='urbano' %}
        <div class="productlist">
            <div class="row">
                <div class="col-sm-12 especial mlb-aboutus-header">
                    <h2>{{ tag.upper()}}</h2>
                    <div class="col-sm-12 especial bkg"></div>
                    {% if is_admin %}
                        <div class="image-upload" style="right:50px;">
                            <label for="img_banner_living">
                                <img class="change-image" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_living" name="image" id="img_banner_living">
                        </div>
                        <div class="image-upload" style="right:50px;">
                            <label for="img_banner_living_a">
                                <img class="change-image hide-show" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_living_a" name="image" id="img_banner_living_a">
                        </div>
                    {% end %}
                    <div>
                        <img id="mlb_banner_living" class="img-responsive show-hide lazy" src="{{ read_image(site.name + '_banner_living', 1) }}" data-original="{{ read_image(site.name + '_banner_living', 500) }}" />
                        <img id="mlb_banner_living_a" class="img-responsive hide-show lazy" src="{{ read_image(site.name + '_banner_living_a', 1) }}" data-original="{{ read_image(site.name + '_banner_living_a', 500) }}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="widget col-sm-12 especial profile-company">
            <div class="col-sm-12 especial profile-foto-top">
                <div class="profile-company-logo">
                    <img class="lazy" src="{{ read_image(site.name + '_banner_living', 1) }}" data-original="{{ read_image(site.name + '_banner_living', 200) }}" alt="item">
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <ul class="nav-list text-center effect menu-3 container-fluid-magle">
                <li class="line-text">
                    <p class="text-center">___________</p>
                </li>
                <li class="text-container">
                    <h1 class="text-center">
                    {% if is_admin %}
                        <span class="editabletext" text-id="mlb-urbano-title" >{{ read_text(site.name + '-urbano-title') }}</span>
                    {% else %}
                        <span>{{ read_text(site.name + '-urbano-title') }}</span>
                    {% end %}
                    </h1>
                </li>
                <li class="text-container">
                    <h1 class="text-center">
                        {% if is_admin %}
                            <span class="editabletext" text-id="mlb-urbano-desc" >{{ read_text(site.name + '-urbano-desc') }}</span>
                        {% else %}
                            <span>{{ read_text(site.name + '-urbano-desc') }}</span>
                        {% end %}
                    </h1>
                </li>
            </ul>
        </div>
    {% end %}

    {% if tag=='andino' %}
        <div class="productlist">
            <div class="row">
                <div class="col-sm-12 especial mlb-aboutus-header">
                    <h2>{{ tag.upper()}}</h2>
                    <div class="col-sm-12 especial bkg"></div>
                    {% if is_admin %}
                        <div class="image-upload" style="right:50px;">
                            <label for="img_banner_dinner">
                                <img class="change-image" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_dinner" name="image" id="img_banner_dinner">
                        </div>
                        <div class="image-upload" style="right:50px;">

                            <label for="img_banner_dinner_a">
                                <img class="change-image hide-show" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_dinner_a" name="image" id="img_banner_dinner_a">
                        </div>
                    {% end %}
                    <img id="mlb_banner_dinner" class="img-responsive show-hide mlb-img lazy" src="{{ read_image(site.name + '_banner_dinner', 1) }}" data-original="{{ read_image(site.name + '_banner_dinner') }}" />
                    <img id="mlb_banner_dinner_a" class="img-responsive hide-show mlb-img lazy" src="{{ read_image(site.name + '_banner_dinner_a', 1) }}" data-original="{{ read_image(site.name + '_banner_dinner_a') }}" />
                </div>
            </div>
        </div>
        <div class="widget col-sm-12 especial profile-company">
            <div class="col-sm-12 especial profile-foto-top">
                <div class="profile-company-logo">
                    <img class="mlb-img lazy" src="{{ read_image(site.name + '_banner_dinner', 1) }}" data-original="{{ read_image(site.name + '_banner_dinner', 200) }}" alt="item">
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <ul class="nav-list text-center effect menu-3 container-fluid-magle">
                <li class="line-text">
                    <p class="text-center">___________</p>
                </li>
                <li class="text-container">
                    <h1 class="text-center">
                        {% if is_admin %}
                            <span class="editabletext" text-id="mlb-andino-title" >{{ read_text(site.name + '-andino-title') }}</span>
                        {% else %}
                            <span>{{ read_text(site.name + '-andino-title') }}</span>
                        {% end %}
                    </h1>
                </li>
                <li class="text-container">
                    <h1 class="text-center">
                        {% if is_admin %}
                            <span class="editabletext" text-id="mlb-andino-desc" >{{ read_text(site.name + '-andino-desc') }}</span>
                        {% else %}
                            <span>{{ read_text(site.name + '-andino-desc') }}</span>
                        {% end %}
                    </h1>
                </li>
            </ul>
        </div>
    {% end %}

    {% if tag=='fusion' %}
        <div class="productlist">
            <div class="row">
                <div class="col-sm-12 especial mlb-aboutus-header">
                    <h2>{{ tag.upper()}}</h2>
                    <div class="col-sm-12 especial bkg"></div>
                    {% if is_admin %}
                        <div class="image-upload" style="right:50px;">
                            <label for="img_banner_kitchen">
                                <img class="change-image" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_kitchen" name="image" id="img_banner_kitchen">
                        </div>
                        <div class="image-upload" style="right:50px;">

                            <label for="img_banner_kitchen_a">
                                <img class="change-image hide-show" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_kitchen_a" name="image" id="img_banner_kitchen_a">
                        </div>
                    {% end %}
                    <img id="mlb_banner_kitchen" class="img-responsive show-hide mlb-img lazy" src="{{ read_image(site.name + '_banner_kitchen', 1) }}" data-original="{{ read_image(site.name + '_banner_kitchen') }}" />
                    <img id="mlb_banner_kitchen_a" class="img-responsive hide-show mlb-img lazy" src="{{ read_image(site.name + '_banner_kitchen_a', 1) }}" data-original="{{ read_image(site.name + '_banner_kitchen_a') }}" />
                </div>
            </div>
        </div>
        <div class="widget col-sm-12 especial profile-company">
            <div class="col-sm-12 especial profile-foto-top">
                <div class="profile-company-logo">
                    <img src="{{ read_image(site.name + '_banner_kitchen', 1) }}" class="lazy" data-original="{{ read_image(site.name + '_banner_kitchen', 200) }}" alt="item">
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <ul class="nav-list text-center effect menu-3 container-fluid-magle">
                <li class="line-text">
                    <p class="text-center">___________</p>
                </li>
                <li class="text-container">
                    <h1 class="text-center">
                        {% if is_admin %}
                            <span class="editabletext" text-id="mlb-fusion-title" >{{ read_text(site.name + '-fusion-title') }}</span>
                        {% else %}
                            <span>{{ read_text(site.name + '-fusion-title') }}</span>
                        {% end %}
                    </h1>
                </li>
                <li class="text-container">
                    <h1 class="text-center">
                        {% if is_admin %}
                            <span class="editabletext" text-id="mlb-fusion-desc" >{{ read_text(site.name + '-fusion-desc') }}</span>
                        {% else %}
                            <span>{{ read_text(site.name + '-fusion-desc') }}</span>
                        {% end %}
                    </h1>
                </li>
            </ul>
        </div>
    {% end %}

    {% if tag=='cojines' %}
        <div class="productlist">
            <div class="row">
                <div class="col-sm-12 especial mlb-aboutus-header">
                    <h2>{{ tag.upper()}}</h2>
                    <div class="col-sm-12 especial bkg"></div>
                    {% if is_admin %}
                        <div class="image-upload" style="right:50px;">
                            <label for="img_banner_bedroom">
                                <img class="change-image" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_bedroom" name="image" id="img_banner_bedroom">
                        </div>
                        <div class="image-upload" style="right:50px;">
                            <label for="img_banner_bedroom_a">
                                <img class="change-image hide-show" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_bedroom_a" name="image" id="img_banner_bedroom_a">
                        </div>
                    {% end %}
                    <img id="mlb_banner_bedroom" class="img-responsive show-hide mlb-img lazy" src="{{ read_image(site.name + '_banner_bedroom', 1) }}" data-original="{{ read_image(site.name + '_banner_bedroom') }}" />
                    <img id="mlb_banner_bedroom_a" class="img-responsive hide-show mlb-img lazy" src="{{ read_image(site.name + '_banner_bedroom_a', 1) }}" data-original="{{ read_image(site.name + '_banner_bedroom_a') }}" />
                </div>
            </div>
        </div>
        <div class="widget col-sm-12 especial profile-company">
            <div class="col-sm-12 especial profile-foto-top">
                <div class="profile-company-logo">
                    <img src="{{ read_image(site.name + '_banner_bedroom', 1) }}" class="lazy" data-original="{{ read_image(site.name + '_banner_bedroom') }}" alt="item">
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <ul class="nav-list text-center effect menu-3 container-fluid-magle">
                <li class="line-text">
                    <p class="text-center">___________</p>
                </li>
                <li class="text-container">
                    <h1 class="text-center">
                        {% if is_admin %}
                            <span class="editabletext" text-id="mlb-cojines-title" >{{ read_text(site.name + '-cojines-title') }}</span>
                        {% else %}
                            <span>{{ read_text(site.name + '-cojines-title') }}</span>
                        {% end %}
                    </h1>
                </li>
                <li class="text-container">
                    <h1 class="text-center">
                        {% if is_admin %}
                            <span class="editabletext" text-id="mlb-cojines-desc" >{{ read_text(site.name + '-cojines-desc') }}</span>
                        {% else %}
                            <span>{{ read_text(site.name + '-cojines-desc') }}</span>
                        {% end %}
                    </h1>
                </li>
            </ul>
        </div>
    {% end %}

    {% if tag=='pieceras' %}
        <div class="productlist">
            <div class="row">
                <div class="col-sm-12 especial mlb-aboutus-header">
                    <h2>{{ tag.upper()}}</h2>
                    <div class="col-sm-12 especial bkg"></div>
                    {% if is_admin %}
                        <div class="image-upload" style="right:50px;">
                            <label for="img_banner_piecera">
                                <img class="change-image" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_piecera" name="image" id="img_banner_piecera">
                        </div>
                        <div class="image-upload" style="right:50px;">
                            <label for="img_banner_piecera_a">
                                <img class="change-image hide-show" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_piecera_a" name="image" id="img_banner_piecera_a">
                        </div>
                    {% end %}
                    <img id="mlb_banner_piecera" class="img-responsive show-hide mlb-img lazy" src="{{ read_image(site.name + '_banner_piecera', 1) }}" data-original="{{ read_image(site.name + '_banner_piecera') }}" />
                    <img id="mlb_banner_piecera_a" class="img-responsive hide-show mlb-img lazy" src="{{ read_image(site.name + '_banner_piecera_a', 1) }}" data-original="{{ read_image(site.name + '_banner_piecera_a') }}" >
                </div>
            </div>
        </div>
        <div class="widget col-sm-12 especial profile-company">
            <div class="col-sm-12 especial profile-foto-top">
                <div class="profile-company-logo">
                    <img src="{{ read_image(site.name + '_banner_piecera', 1) }}" class="lazy" data-original="{{ read_image(site.name + '_banner_piecera') }}" alt="item">
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <li class="line-text">
                    <p class="text-center">___________</p>
                </li>
                <li class="text-container">
                    <h1 class="text-center">
                        {% if is_admin %}
                            <span class="editabletext" text-id="mlb-pieceras-title" >{{ read_text(site.name + '-pieceras-title') }}</span>
                        {% else %}
                            <span>{{ read_text(site.name + '-pieceras-title') }}</span>
                        {% end %}
                    </h1>
                </li>
                <li class="text-container">
                    <h1 class="text-center">
                        {% if is_admin %}
                            <span class="editabletext" text-id="mlb-pieceras-desc" >{{ read_text(site.name + '-pieceras-desc') }}</span>
                        {% else %}
                            <span>{{ read_text(site.name + '-pieceras-desc') }}</span>
                        {% end %}
                    </h1>
                </li>
            </ul>
        </div>
    {% end %}

    {% if tag=='accesorio' %}
        <div class="productlist">
            <div class="row">
                <div class="col-sm-12 especial mlb-aboutus-header">
                    <h2>{{ tag.upper()}}</h2>
                    <div class="col-sm-12 especial bkg"></div>
                    {% if is_admin %}
                        <div class="image-upload" style="right:50px;">
                            <label for="img_banner_revistero">
                                <img class="change-image" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_revistero" name="image" id="img_banner_revistero">
                        </div>
                        <div class="image-upload" style="right:50px;">
                            <label for="img_banner_revistero_a">
                                <img class="change-image hide-show" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_revistero_a" name="image" id="img_banner_revistero_a">
                        </div>
                    {% end %}
                    <img id="mlb_banner_revistero" class="img-responsive show-hide mlb-img lazy" src="{{ read_image(site.name + '_banner_revistero', 1) }}" data-original="{{ read_image(site.name + '_banner_revistero') }}" />
                    <img id="mlb_banner_revistero_a" class="img-responsive hide-show mlb-img lazy" src="{{ read_image(site.name + '_banner_revistero_a', 1) }}" data-original="{{ read_image(site.name + '_banner_revistero_a') }}" />
                </div>
            </div>
        </div>
        <div class="widget col-sm-12 especial profile-company">
            <div class="col-sm-12 especial profile-foto-top">
                <div class="profile-company-logo">
                    <img src="{{ read_image(site.name + '_banner_revistero', 1) }}" data-original="{{ read_image(site.name + '_banner_revistero') }}" class="lazy" alt="item">
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <ul class="nav-list text-center effect menu-3 container-fluid-magle">
                <li class="line-text">
                    <p class="text-center">___________</p>
                </li>
                <li class="text-container">
                    <h1 class="text-center">
                        {% if is_admin %}
                            <span class="editabletext" text-id="mlb-revisteros-title" >{{ read_text(site.name + '-revisteros-title') }}</span>
                        {% else %}
                            <span>{{ read_text(site.name + '-revisteros-title') }}</span>
                        {% end %}
                    </h1>
                </li>
                <li class="text-container">
                    <h1 class="text-center">
                        {% if is_admin %}
                            <span class="editabletext" text-id="mlb-revisteros-desc" >{{ read_text(site.name + '-revisteros-desc') }}</span>
                        {% else %}
                            <span>{{ read_text(site.name + '-revisteros-desc') }}</span>
                        {% end %}
                    </h1>
                </li>
            </ul>
        </div>
    {% end %}

    {% if tag=='vestuario' %}
        <div class="productlist">
            <div class="row">
                <div class="col-sm-12 especial mlb-aboutus-header">
                    <h2>{{ tag.upper()}}</h2>
                    <div class="col-sm-12 especial bkg"></div>
                    {% if is_admin %}
                        <div class="image-upload" style="right:50px;">
                            <label for="img_banner_vestuario">
                                <img class="change-image" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_vestuario" name="image" id="img_banner_vestuario">
                        </div>
                        <div class="image-upload" style="right:50px;">
                            <label for="img_banner_vestuario_a">
                                <img class="change-image hide-show" src="{{ site_base }}/{{ nocache_static }}/img/btn-edit.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit-hover.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/btn-edit.png';">
                            </label>
                            <input type="file" class="editableimage" image-id="{{ site.name }}_banner_vestuario_a" name="image" id="img_banner_vestuario_a">
                        </div>
                    {% end %}
                    <img id="mlb_banner_vestuario" class="img-responsive show-hide mlb-img lazy" src="{{ read_image(site.name + '_banner_vestuario', 1) }}" data-original="{{ read_image(site.name + '_banner_vestuario') }}" />
                    <img id="mlb_banner_vestuario_a" class="img-responsive hide-show mlb-img lazy" src="{{ read_image(site.name + '_banner_vestuario_a', 1) }}" data-original="{{ read_image(site.name + '_banner_vestuario_a') }}" />
                </div>
            </div>
        </div>
        <div class="widget col-sm-12 especial profile-company">
            <div class="col-sm-12 especial profile-foto-top">
                <div class="profile-company-logo">
                    <img src="{{ read_image(site.name + '_banner_vestuario', 1) }}" data-original="{{ read_image(site.name + '_banner_vestuario') }}" class="lazy" alt="item">
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <ul class="nav-list text-center effect menu-3 container-fluid-magle">
                <li class="line-text">
                    <p class="text-center">___________</p>
                </li>
                <li class="text-container">
                    <h1 class="text-center">
                        {% if is_admin %}
                            <span class="editabletext" text-id="mlb-vestuarios-title" >{{ read_text(site.name + '-vestuarios-title') }}</span>
                        {% else %}
                            <span>{{ read_text(site.name + '-vestuarios-title') }}</span>
                        {% end %}
                    </h1>
                </li>
                <li class="text-container">
                    <h1 class="text-center">
                        {% if is_admin %}
                            <span class="editabletext" text-id="mlb-vestuarios-desc" >{{ read_text(site.name + '-vestuarios-desc') }}</span>
                        {% else %}
                            <span>{{ read_text(site.name + '-vestuarios-desc') }}</span>
                        {% end %}
                    </h1>
                </li>
            </ul>
        </div>
    {% end %}
{% end %}
<div class="row container-fluid-magle products" style="margin-top: 40px;">
</div>
