/*doc

---
title: Product Banner
name: product.banner
category: product.banner
---

Product Banner

```html_example
<div class="productlist">
    <div class="row">
        <div class="col-sm-12 especial mlb-aboutus-header">
            <h2>COJINES</h2>
            <div class="col-sm-12 especial bkg"></div>
            <img id="mlb_banner_bedroom" class="img-responsive show-hide mlb-img lazy" src="https://static.loadingplay.com/static/images/5e3f52f3e304c8aebe7adff4b44f4c58_nombre.png" data-original="">
            <img id="mlb_banner_bedroom_a" class="img-responsive hide-show mlb-img lazy" src="https://static.loadingplay.com/static/images/5e3f52f3e304c8aebe7adff4b44f4c58_nombre.png" data-original="https://static.loadingplay.com/static/images/5e3f52f3e304c8aebe7adff4b44f4c58_nombre.png">
        </div>
    </div>
</div>
<div class="widget col-sm-12 especial profile-company">
    <div class="col-sm-12 especial profile-foto-top">
        <div class="profile-company-logo">
            <img src="https://static.loadingplay.com/static/images/5e3f52f3e304c8aebe7adff4b44f4c58_nombre.png" class="lazy" data-original="" alt="item">
        </div>
    </div>
</div>
<div class="clearfix"></div>
```

*/

.mlb-img
{
    width: auto;
    height: auto;
    opacity: 0;
    font-size: 21px;
    text-align: center;
}

.productlist,
.product
{
    padding-top: 0;
}

.productlist .row
{
    margin-right: 0;
    margin-left: 0;
}

.mlb-aboutus-header
{
    overflow: hidden;
    height: 160px;
}

.productlist .col-sm-12,
.productlist .col-sm-8,
.productlist .col-sm-6,
.productlist .col-sm-4,
.productlist .col-sm-2
{
    position: relative;
    min-height: 1px;
    padding: 2px;
}

.mlb-aboutus-header h2
{
    z-index: 200;
    color: white;
    position: relative;
    font-weight: 700;
    text-align: center;
}

.mlb-aboutus-header .bkg
{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.28);
    z-index: 150;
    position: absolute;
    top: 0;
    width: 100%;
}

.mlb-aboutus-header img,
.mlb-aboutus-footer img
{
    position: absolute;
    z-index: 100;
    left: 0;
    height: auto;
    top: 0px;
}

.profile-company .profile-foto-top
{
    margin-top: -78px;
    z-index: 9999;
}

.profile-company .profile-company-logo
{
    border-radius: 100px;
    overflow: hidden;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
    border: 4px solid white;
    -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.46);
}

.profile-company .profile-company-logo img,
.profile-partner .profile-partner-image img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 480px)
{
    .hide-show.mlb-img
    {
        height: 100%;
    }
}
