{% extends "../base.html" %}

{% block header %}
    {% include '../home/header.html' %}
{% end %}

{% block css %}
{% end %}

{% block javascript %}
    <script src="{{ site_base }}/{{ nocache_static }}/js/detalle-producto.js"></script>
    <script type="text/x-template" id="product_template"></script>
    <script type="text/x-template" id="tag_template">
        <li>
            <a href="/sample/tag.html?tag={{! id }}">
                {{!name}}
                </a>
        </li>
    </script>
    <script type="text/javascript">
        function getCookie(cname)
        {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++)
            {
                var c = ca[i];
                while (c.charAt(0) == ' ')
                {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0)
                {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        $(document).ready(function()
        {
            var base_url = 'https://apibodegas.loadingplay.com/',
                checkout_url = 'https://pay.loadingplay.com';

            // initialize ecommerce
            var facade = $(document).ecommerce('product_detail', {
                'app_public': 3,
                'site_id': 3,
                'base_url': base_url,
                'checkout_url': checkout_url,
                'product_id': {{ product_id }},
                'site_name': 'mlb',
                onLoad: function(product) 
                {
                    if (getCookie("stock") == "none")
                    {
                        $(".add-to-cart").html("AGOTADO");
                        $(".add-to-cart").attr("disabled", true);
                    }
                }
            });
        });
    </script>
    <div type="template" id="product_detail" class="hidden">
        <div class="container-fluid-product product text-align-left">
            <div class="row visible-xs product-mobile color-black">
                <div class="col-xs-12 text-center tit-mobile info-product-detail">
                    <h2 class="product-title">{{! name }}</h2>
                    <br>
                    <div class="main-price">
                        <span class="font-size-price">{{! main_price|money }}</span>
                    </div>
                    <br>
                </div>
            </div>
            <div class="row slider-detail">
                <div class="col-sm-8 ">
                    <div class="mlb-content-img-prod">
                        <div class="swiper-container product-container-height">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="https://static.loadingplay.com/static/images/1_eb1852c1e13bb1087f187b579784f778_maxresdefault.png" class="mlb-image-products image img-responsive" alt="item">
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://static.loadingplay.com/static/images/1_eb1852c1e13bb1087f187b579784f778_maxresdefault.png" class="mlb-image-products image img-responsive" alt="item">
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://static.loadingplay.com/static/images/1_eb1852c1e13bb1087f187b579784f778_maxresdefault.png" class="mlb-image-products image img-responsive" alt="item">
                                </div>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination position-relative-arrows"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <form action="product1.html" method="POST" class="myform">
                        <div class="fondo-blanco-movil info-product-detail">
                            <h2 class="product-title hidden-xs">{{! name }}</h2>
                            <div class="product-detail description">
                                <p>{{! description }}</p>
                            </div>
                            <div class="main-price hidden-xs">
                                <span class="font-size-price">{{! main_price|money }}</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-no-padding">
            <div class="container-fluid text-right container-fluid-magle text-you-know">
                <div class="row">
                    <div class="col-sm-6 mlb-text especial you-know">
                        <div class="col-sm-12 especial">
                            <h2>SABÍAS QUE</h2>
                            <p>___________</p>
                            <p>{{! bullet_1 }}</p>
                        </div>
                    </div>
                    <div class="col-sm-6 mlb-text especial special-height">
                        <img src="https://static.loadingplay.com/static/images/1_eb1852c1e13bb1087f187b579784f778_maxresdefault.png" class="mlb-image-products image img-responsive" alt="item">
                    </div>
                </div>
            </div>
            <div class="productlist">
                <div class="row">
                    <div class="col-sm-12 especial mlb-aboutus-footer padding-product-made-in-chile">
                        <div class="col-sm-6 mlb-text made-in-chile">
                            <h2>HECHO EN CHILE</h2>
                            <p>___________</p>
                            <p> {{! bullet_2 }}
                            </p>
                        </div>
                        <div class="col-sm-12 especial bkg"></div>
                        <img src="https://static.loadingplay.com/static/images/1_eb1852c1e13bb1087f187b579784f778_maxresdefault.png" class="mlb-image-products image img-responsive img-no-position" alt="item">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% end %}

{% block body %}
    <div id="wrap-2" class="container top-distance-content container-fluid-product product-detail-container especial container-product-detail">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>

    {% include '../content/footer.html' %}
{% end %}
