<!doctype html>
<html>
    <head>
        <!-- head bt inicio -->
        <title>Magdalena LeBlanc - Cojines, Pieceras, y más 100% Alcapa.</title>
        <base href="{{ site_base }}/">
        <meta charset="utf-8">
        <meta name="description" content="Cojines, Pieceras, y más 100% Alcapa.">
        <meta name="author" content="Loadingplay">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta property="og:image" content="https://7static.loadingplay.com/static/images/a77748350fe1b48edfd43c39df91829b_mlb_facebook.png" />
        <meta property="og:description" content="Magdalena Le Blanc es una marca que busca la integración de la artesanía de la gente nativa de Chile con el diseño textil contemporáneo. Los proyectos vienen con un fuerte sentido social, con el objetivo de proveer de empleo a tejedoras y hiladoras del sur de Chile, recobrando así el arte textil ancestral a través del diseño y manufactura de alta calidad." />
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ site_base }}/{{ nocache_static }}/cssbt/style.css">
        <link rel="stylesheet" href="{{ site_base }}/{{ nocache_static }}/cssbt/icomoon/style.css">
        <!-- específico para magdalena leblanc -->
        <link rel="stylesheet" href="{{ site_base }}/{{ nocache_static }}/cssbt/magle.css">
        <link rel="stylesheet" type="text/css" href="{{ site_base }}/{{ nocache_static }}/css/me.css">
        <link rel="stylesheet" type="text/css" href="{{ site_base }}/{{ nocache_static }}/css/fonts.css">
        <link rel="stylesheet" type="text/css" href="{{ site_base }}/{{ nocache_static }}/css/colors.css">
        <link rel="stylesheet" type="text/css" href="{{ site_base }}/{{ nocache_static }}/css/buttons.css">
        <link rel="stylesheet" type="text/css" href="{{ site_base }}/{{ nocache_static }}/css/footer.css">
        <!-- css para estilos de cajas de contenido -->
        <link rel="stylesheet" href="{{ site_base }}/{{ nocache_static }}/cssbt/cont-boxes-home.css">
        <link rel="stylesheet" type="text/css" href="{{ site_base }}/{{ nocache_static }}/css/font-awesome.min.css" />
        <!-- favicon -->
        <link rel="shortcut icon" href="{{ site_base }}/{{ nocache_static }}/imgbt/ico/favicon-32x32.png" sizes="32x32" type="{{ site_base }}/{{ nocache_static }}/imagebt/ico" />
        <link rel="apple-touch-icon-precomposed" href="imgbt/ico/apple-touch-icon-60x60.png" type="image/png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site_base }}/{{ nocache_static }}/imgbt/ico/apple-touch-icon-72x72.png" type="image/png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site_base }}/{{ nocache_static }}/imgbt/ico/apple-touch-icon-120x120.png" type="image/png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site_base }}/{{ nocache_static }}/imgbt/ico/apple-touch-icon-152x152.png" type="image/png" />
        <link rel="stylesheet" type="text/css" href="{{ site_base }}/{{ nocache_static }}/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
        <link rel="stylesheet" href="{{ site_base }}/{{ nocache_static }}/menu/css/main.css" type="text/css">
        <link rel="stylesheet" href="{{ site_base }}/{{ nocache_static }}/menu/css/wallop-slider--slide.css">
        <link rel="stylesheet" href="{{ site_base }}/{{ nocache_static }}/menu/css/wallop-slider.css">
        <link rel="stylesheet" href="{{ site_base }}/{{ nocache_static }}/menu/css/colpick.css">
        <!-- menu editor css -->
        <link rel="stylesheet" href="{{ site_base }}/{{ nocache_static }}/css/menu-material-2.css">
        <link rel="stylesheet" href="{{ site_base }}/{{ nocache_static }}/css/ligthbox-d.css">
        <link rel="stylesheet" href="{{ site_base }}/{{ nocache_static }}/css/gallery.css">
        <!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="{{ site_base }}/{{ nocache_static }}/css/swiper.min.css">
        <!-- autocomplete -->
        <link rel="stylesheet" type="text/css" href="{{ site_base }}/{{ nocache_static }}/js/plugins/selectize/selectize.css" />
        <!-- autocomplete -->
        <link rel="stylesheet" href="{{ site_base }}/common/js/bower/file_uploader/dist/fileuploader.css">
        <link rel="stylesheet" type="text/css" href="{{ site_base }}/common/js/bower/bodegas.client/dist/bodegas.client.css">
        <link rel="stylesheet" href="{{ site_base }}/common/css/editableimage.css">

        {% block css %}
        {% end %}

        <style>
        [data-sr]
        {
            visibility: hidden;
        }
        </style>
    </head>

    <body id="home">
        <!-- generar contenido y formularios -->
        <div id="menu_movil" class="descripcion_wrapper descripcion_opacity b_wrapper" style="display:none;">
            <div class="descripcion_cerrar">
                <button id="tellmeboton2" class="tellmebutton-2"><i class="icon-remove"></i></button>
            </div>
            <div class="descripcion_contenido">
                {% include 'content/add_form.html' %}
            </div>
        </div>
        <div id="cuerpo" style="width: 100%">
            <div class="menu">
                <nav class="nav-main">
                    <div class="nav-container">
                        <ul>
                            <li class="menu-ti">EDITOR ESTILO</li>
                            <li class="menu-st">Header</li>
                            <li class="menu-te">
                                <a href="#">menu</a>
                                <ul>
                                    <li class="menu-ti"><a href="#" class="back"><strong>Tipos de menu</strong></a></li>
                                    <li class="menu-te"><a href="#">Menu 1</a></li>
                                    <li class="menu-te"><a href="#">menu 2</a></li>
                                </ul>
                            </li>
                            <li class="menu-te">
                                <a href="#">Logo</a>
                                <ul>
                                    <li class="menu-ti"> <a href="#" class="back"><strong>Logo</strong></a></li>
                                    <button class="btn-menu">Subir imagen</button>
                                </ul>
                            </li>
                            <li class="menu-st">Contenedor</li>
                            <li class="menu-te">
                                <a href="#">color fondo</a>
                                <ul>
                                    <li class="menu-ti"> <a href="#" class="back"><strong>color fondo</strong></a></li>
                                    <li>
                                        <div id="picker"></div>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-te">
                                <a href="#">productos</a>
                                <ul>
                                    <li class="menu-ti"> <a href="#" class="back"><strong>Productos</strong></a></li>
                                    <li class="menu-te">
                                        <div class="close-btn">X</div>
                                        <div class="row-products">fila</div>
                                        <!-- slider -->
                                        <div class="photo-slider wallop-slider wallop-slider--slide slide-css">
                                            <div class="slide-css-2">
                                                <ul class="wallop-slider__list list-css">
                                                    <li class="wallop-slider__item wallop-slider__item--current"><img src="{{ site_base }}/{{ nocache_static }}/menu/images/row1.png"></li>
                                                    <li class="wallop-slider__item"><img src="{{ site_base }}/{{ nocache_static }}/menu/images/row2.png"></li>
                                                    <li class="wallop-slider__item"><img src="{{ site_base }}/{{ nocache_static }}/menu/images/row3.png"></li>
                                                    <li class="wallop-slider__item"><img src="{{ site_base }}/{{ nocache_static }}/menu/images/row4.png"></li>
                                                    <li class="wallop-slider__item"><img src="{{ site_base }}/{{ nocache_static }}/menu/images/row5.png"></li>
                                                    <li class="wallop-slider__item"><img src="{{ site_base }}/{{ nocache_static }}/menu/images/row6.png"></li>
                                                    <li class="wallop-slider__item"><img src="{{ site_base }}/{{ nocache_static }}/menu/images/row7.png"></li>
                                                    <li class="wallop-slider__item"><img src="{{ site_base }}/{{ nocache_static }}/menu/images/row8.png"></li>
                                                    <li class="wallop-slider__item"><img src="{{ site_base }}/{{ nocache_static }}/menu/images/row9.png"></li>
                                                </ul>
                                            </div>
                                            <button class="wallop-slider__btn wallop-slider__btn--previous btn btn--previous wallop-btn-base base-btn" disabled>
                                            </button>
                                            <button class="wallop-slider__btn wallop-slider__btn--next btn btn--next wallop-btn-base base-btn-2">></button>
                                        </div>
                                        <!-- slider -->
                                    </li>
                                    <button class="btn-menu btn-menu-top">+ agregar row</button>
                                </ul>
                            </li>
                        </ul>
                        <ul style="top:0px;">
                            <li class="menu-st">Diseños anteriores</li>
                            <li class="menu-te">
                                <a href="#">todos los diseños</a>
                                <ul>
                                    <li class=""> <a href="#" class="back"><strong>DISEÑOS ANTERIORES</strong></a></li>
                                    <li><a href="#">Diseño 1</a></li>
                                    <li><a href="#">Diseño 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="campo_guardar save-field">
                        <input class="campo_guandar_input" type="text" placeholder="NOMBRE DISEÑO">
                        <button class="btn-menu">Guardar</button>
                    </div>
                    <div class="campo_guardar save-field-block">
                        <button class="btn-menu">actualizar</button>
                    </div>
                </nav>
            </div>
        </div>
        <div align="center">
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title ">Resumen de tu compra</h4>
                        </div>
                        <div class="modal-body mlb-btn">
                            <div class="container-fluid cart-list" ng-controller="">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Precio</th>
                                                    <th class="">Cant</th>
                                                    <th class="">Eliminar</th>
                                                </tr>
                                            </thead>
                                            <tbody class="shopping-cart">
                                            </tbody>
                                        </table>
                                        <div class="checkout-form"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/x-template" id="shopping-cart-product">
            <tr>
                <td class="vert-align text-left">{{! name }}</td>
                <td class="text-center2 vert-align">{{! price }}</td>
                <td class="vert-align fri" style="border-bottom: 1px solid #ddd;">
                    <a href="#!" class="remove-one" lp-cart-remove-one="{{! id }}">-</a> {{! quantity }}
                    <a href="#!" class="add-one" lp-cart-add-one="{{! id }}">+</a>
                </td>
                <td class="remove-from-cart fri" lp-cart-remove="{{! id }}" aria-hidden="true"> X </td>
                <td class="vert-align fri">
                    <a class="borrarproducto" cart-id="">
                        <i class="icon-close"></i>
                    </a>
                </td>
            </tr>
        </script>
        <script type="text/x-template" id="shopping-cart-total">
            <tr>
            </tr>
            <tr>
                <td>Total:</td>
                <td id="total" colspan="3" class="text-left total-modal lib">{{! total|money }}</td>
                <td></td>
            </tr>
        </script>
        <script type="text/x-template" id="shopping-cart-units-total">
            <span> {{! units_total }}</span>
        </script>
        <script type="text/x-template" id="shopping-cart-checkout-form">
            <form action="{{! checkout_url}}" method="get" novalidate id="shipping-form" class="myform">
                <input name="site_id" class="form-control required" type="hidden" value="3">
                <input name="cart_id" class="form-control required" type="hidden" value="{{! cart_id}}">
                <input name="origin" class="form-control required" type="hidden" value="{{ site.name }}">
                <div class="form-group text-center">
                    <button type="submit" class="btn" style="background-color: rgba(0, 0, 0, 0.24);">Pagar</button>
                </div>
            </form>
        </script>

        {% block header %}
        {% end %}

        {% block body %}
        {% end %}
        <img id="imgLOAD" width="50" height="50" src="{{ site_base }}/common/css/loading.gif" />
        <script type="text/javascript">
        var site_base = "{{ site_base }}"
        </script>
        <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/jquery-min.js"></script>
        <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/jsbt/placeholders.min.js"></script>
        <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/jsbt/ga.js"></script>
        <script src="{{ site_base }}/{{ nocache_static }}/menu/js/modernizr.js"></script>
        <script src="{{ site_base }}/{{ nocache_static }}/menu/js/main.js"></script>
        <script src="{{ site_base }}/{{ nocache_static }}/menu/js/WallopSlider.js"></script>
        <script src="{{ site_base }}/{{ nocache_static }}/menu/js/script.js"></script>
        <script src="{{ site_base }}/{{ nocache_static }}/menu/js/colpick.js"></script>
        <script src="{{ site_base }}/{{ nocache_static }}/js/swiper.min.js"></script>
        <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/mlb.js"></script>
        <!-- js mlb -->
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="https://yandex.st/highlightjs/7.3/highlight.min.js"></script>
        <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/plugins/selectize/selectize.js"></script>
        <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/plugins/loadingplay/imageupload.preview.js"></script>
        <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/plugins/jquery.maskedinput.min.js"></script>
        <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/me.js"></script>
        <!-- {%! if is_admin %} -->
        <script type="text/javascript" src="{{ site_base }}/common/js/jquery.editable.js"></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/editabletext.js"></script>
        <!-- {%!  end %} -->
        <script type="text/javascript" src="{{ site_base }}/common/js/page_editable.js"></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/editableimage.js"></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/bower/file_uploader/dist/fileuploader.js"></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/bower/file_uploader/dist/fileuploader.min.js"></script>
        <script type="text/javascript" src="{{ site_base }}/common/js/bower/bodegas.client/dist/bodegas.client.js"></script>
        <script type="text/javascript" src="common/js/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/plugins/jquery.lazyload.js"></script>
        <script type="text/javascript">
            $(function()
            {
                $("img.lazy").lazyload({
                    effect: "fadeIn"
                });
            });
        </script>

        {% block javascript %}
        {% end %}

        <script type="text/javascript">
            $('#picker').colpick(
            {
                flat: true,
                layout: 'hex',
                submit: 0
            });
        </script>
        <script>
            window.fbAsyncInit = function()
            {
                FB.init({
                    appId: '348231912006000',
                    xfbml: true,
                    version: 'v2.1'
                });
            };
            (function(d, s, id)
            {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <script type="text/javascript" src="{{ site_base }}/{{ nocache_static }}/js/header.js"></script>
        <script src="{{ site_base }}/{{ nocache_static }}/js/scrollReveal.min.js?ver=2.1.0"></script>
        <script type="text/javascript">
            window.sr = new scrollReveal({
                reset: true,
                move: "20px"
            });
        </script>
        <!-- Initialize Swiper -->
        <script>
            setTimeout(function()
            {
                var swiper = new Swiper('.swiper-container', {
                    pagination: '.swiper-pagination',
                    nextButton: '.swiper-button-next',
                    prevButton: '.swiper-button-prev',
                    slidesPerView: 1,
                    paginationClickable: true,
                    spaceBetween: 0,
                    loop: true,
                    autoplay: 3000,
                    onSlideChangeStart: function(swiper)
                    {
                        if (swiper.activeIndex == 4)
                        {
                            swiper.activeIndex = 1;
                        }
                    },
                    onSlideChangeEnd: function(swiper)
                    {
                        swiper.onResize();
                    }
                });
            }, 3000);
        </script>
        <script type="text/javascript">
            (function(i, s, o, g, r, a, m)
            {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', '{{ get_config("analytics") }}', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
